@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* etiqueta raíz */
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #FBF1EE;
}

header {
  height: 10rem;
  width: 100%;
}

.logo {
  width: 10rem;
}

nav {
  background-color: #454D5E;
  width: 100%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listaNavegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 3rem;
}

.listaNavegador li {
  border: 0.3rem;
  margin: 0 0.5rem;
}

.listaNavegador li:hover {
  background-color: #81706b;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.listaNavegador li a {
  padding: 0.7rem 1.3rem;
  font-size: 1.8rem;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  color: #fff;
}

.btn_menu {
  margin-right: 3rem;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 10rem;
}

/* footer */
.footer {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
}

.footer .footer__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 1rem;
}

.footer .footer__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.footer__lista__twitter {
  width: 3.2rem;
  height: 3.2rem;
}

.footer__lista__instagram:hover {
  background-color: pink;
}

.footer__lista__facebook:hover {
  background-color: blue;
}

.footer__lista__whatsapp:hover {
  background-color: green;
}

.footer__lista__twitter:hover {
  background-color: #00acee;
}

/* index */
.containerCarrusel {
  width: 40rem;
  height: 30rem;
  margin-bottom: 10rem;
}

.carrusel {
  width: 100%;
}

/* seccion principal */
.seccionunoindex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  margin-top: 10rem;
}

.seccionunoindex__titulo {
  font-size: 4.8rem;
  color: black;
  padding: 2rem;
}

.seccionunoindex__container {
  background-color: wheat;
  border-radius: 2rem;
  border: solid 0.4rem black;
  width: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionunoindex__container__texto {
  font-size: 2.4rem;
  text-align: center;
  padding: 2rem 1.5rem;
}

/*.imagenPrincipalInicio {
    width: 40rem;
    height: 40rem;
    padding: 2rem;
  }*/
/* seccion 2 */
.seccionDosIndex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "uno dos tres";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem;
}

/* cards*/
.contenedor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 110rem;
}

.card {
  width: 100%;
  margin: 2rem;
  border-radius: 0.6rem;
  overflow: hidden;
  background-color: #e5d2e5;
  -webkit-box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.card:hover {
  -webkit-box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.card img {
  width: 100%;
}

.card .contenido {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}

.card .contenido p {
  font-size: 1.4rem;
}

.card .contenido h3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
}

.card .contenido a {
  background-color: black;
  border: 0.1rem solid grey;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  border-radius: 0.6rem;
}

.imagenesIndex {
  padding: 2rem;
}

/* primera columna seccion 2 */
.secciondosindex__colunmnauno {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: uno;
  padding: 1rem;
  margin: 2rem;
  height: 100%;
}

/* segunda columna seccion 2 */
.secciondosindex__colunmnados {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: dos;
  padding: 1rem;
  margin: 2rem;
  height: 100%;
}

/* tercera columna seccion 2 */
.secciondosindex__colunmnatres {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: tres;
  padding: 1rem;
  margin: 2rem;
  height: 100%;
}

/* Nosotros html */
.seccionnos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "foto texto";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.seccionnos__container {
  background-color: wheat;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 4rem;
  border: solid 0.4rem black;
  border-radius: 3rem;
}

.seccionnos__container .seccionnos__container__titulonosotros {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 4.8rem;
}

.seccionnos__container .seccionnos__container__textonosotros {
  font-size: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 2.0rem;
}

.seccionnos__imagennosotros {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: foto;
  width: 40rem;
  height: 40rem;
}

.tituloNosotros {
  font-size: 3.2rem;
}

.textoNosotros {
  font-size: 1.6rem;
}

/* tienda html */
.tituloTienda {
  font-size: 4.8rem;
  text-align: center;
  padding-top: 10rem;
  margin-bottom: 10rem;
}

.tienda__container__titulosTienda {
  font-size: 4rem;
  padding-bottom: 1.5rem;
}

.tienda {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "a b c" "d e f";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem;
}

.t1, .t2, .t3, .t4, .t5, .t6 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  height: 100%;
  padding: 1rem;
  margin: 2rem;
}

.t2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.t3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.t4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: d;
}

.t5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: e;
}

.t6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: f;
}

/* contactanos html */
.tituloPrincipalContactanos {
  font-size: 4rem;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.formulario {
  background-color: wheat;
  width: 80rem;
  margin: auto;
  margin-bottom: 10rem;
  border-radius: 2rem;
  padding: 3rem;
  border: solid 4px black;
}

.formulario h2 {
  font-size: 3.8rem;
  text-align: center;
  margin-bottom: 3rem;
}

.formulario__nya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.formulario__nya__nombre {
  margin-right: 4rem;
  height: 2.5rem;
}

.formulario__nya__apellido {
  height: 2.5rem;
}

.formulario__email {
  grid-area: email;
  width: 30%;
  margin-bottom: 0.5rem;
  height: 2.5rem;
}

.formulario__consulta {
  grid-area: consulta;
  width: 100%;
  margin-bottom: 0.5rem;
}

.formulario__enviar {
  width: 10%;
}

.formulario__enviar:hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1);
}

.formulario__enviar:active {
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
}

input:focus {
  height: 4rem;
}

label {
  font-size: 2rem;
}

.boton {
  background-color: grey;
  border-color: black;
}

.boton:hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1);
}

.boton:active {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

/* mediosdepago html */
.imagenesMedios {
  width: 25rem;
  height: 25rem;
}

.tituloMedios {
  text-align: center;
  font-size: 4.8rem;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.seccionprincipalmedios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 1fr;
      grid-template-areas: "c1 c2 c3";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8rem;
}

.seccionprincipalmedios__carduno, .seccionprincipalmedios__carddos, .seccionprincipalmedios__cardtres {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: c1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  padding: 2rem;
  width: 80%;
  height: 100%;
  display: -ms-grid;
  display: grid;
}

.seccionprincipalmedios__carduno h2, .seccionprincipalmedios__carddos h2, .seccionprincipalmedios__cardtres h2 {
  padding-bottom: 5rem;
}

.seccionprincipalmedios__carddos h2,
.seccionprincipalmedios__cardtres h2 {
  padding-bottom: 5rem;
}

.seccionprincipalmedios__carddos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: c2;
}

.seccionprincipalmedios__cardtres {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c3;
}

.seccionprincipalmedios__carduno img, .seccionprincipalmedios__carddos img, .seccionprincipalmedios__cardtres img,
.seccionprincipalmedios__carddos img,
.seccionprincipalmedios__cardtres img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.seccionprincipalmedios div h2 {
  font-size: 3.6rem;
  text-align: center;
}

.containerError {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6rem 5rem;
}

.containerError h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
}

.containerError p {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .listaNavegador {
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: calc(100% - 10rem);
    background-color: #FBF1EE;
    top: -100vh;
    text-align: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .listaNavegador li {
    margin: 5rem 0 0 0;
    line-height: 3rem;
  }
  .listaNavegador li:hover {
    background-color: none;
  }
  .listaNavegador li a {
    font-size: 2rem;
    color: #454D5E;
  }
  .btn_menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .seccionunoindex__container {
    width: 50rem;
    margin-top: 5rem;
  }
  /* index*/
  .seccionDosIndex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "uno" "dos" "tres";
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
  .secciondosindex__colunmnauno {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: uno;
    padding: 1rem;
    margin: 2rem;
    margin-bottom: 6rem;
    width: 80%;
  }
  .secciondosindex__colunmnados {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: dos;
    padding: 1rem;
    margin: 2rem;
    margin-bottom: 6rem;
    width: 80%;
  }
  .secciondosindex__colunmnatres {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: tres;
    padding: 1rem;
    margin: 2rem;
    width: 80%;
  }
  footer p {
    font-size: 1.6rem;
  }
  /* Nosotros html */
  .seccionnos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "foto" "texto";
  }
  .seccionnos__imagennosotros {
    margin-bottom: 5rem;
  }
  .seccionnos__container__titulonosotros {
    font-size: 4rem;
  }
  .seccionnos__container__textonosotros {
    font-size: 1.6rem;
  }
  /*Contactanos*/
  .formulario {
    width: 50rem;
  }
  .tituloPrincipalContactanos {
    font-size: 2.4rem;
  }
  /*Medios de pago*/
  .seccionprincipalmedios {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "c1" "c2" "c3";
  }
  .seccionprincipalmedios__carduno, .seccionprincipalmedios__carddos, .seccionprincipalmedios__cardtres {
    width: 70%;
  }
  .tituloMedios {
    font-size: 3rem;
  }
  /* tienda */
  .tienda {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "a b " "c d " "e f";
  }
  .footer__texto {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  nav ul a {
    font-size: 1.4rem;
  }
  .tituloPrincipalInicio {
    font-size: 3rem;
    color: black;
    padding: 2rem;
  }
  .textoPrincipal {
    font-size: 1.8rem;
    text-align: center;
  }
  .imagenPrincipalInicio {
    width: 30rem;
    height: 20rem;
    padding: 2rem;
  }
  .seccionDosIndex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "uno" "dos" "tres";
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
  }
  .seccionDosIndex h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2.5rem;
  }
  .secciondosindex__colunmnauno {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: uno;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 100%;
  }
  .secciondosindex__colunmnados {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: dos;
    padding: 1rem;
    width: 100%;
  }
  .secciondosindex__colunmnatres {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: tres;
    padding: 1rem;
    width: 100%;
  }
  /*Nosotros */
  .seccionnos__imagennosotros {
    margin-bottom: 5rem;
  }
  .seccionnos__container__titulonosotros {
    font-size: 4rem;
  }
  .seccionnos__container {
    font-size: 1.6rem;
  }
  /*Contactanos*/
  .formulario {
    width: 40rem;
  }
  .tituloPrincipalContactanos {
    font-size: 2rem;
  }
  /*Medios de pago*/
  .seccionprincipalmedios {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "c1" "c2" "c3";
  }
  .tituloMedios {
    font-size: 2.8rem;
  }
  .seccionprincipalmedios__carduno, .seccionprincipalmedios__carddos, .seccionprincipalmedios__cardtres {
    width: 60%;
  }
  /* tienda */
  .tienda {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "a" "b" "c" "d" "e" "f";
  }
  .t1, .t2, .t3, .t4, .t5, .t6, .t2, .t3, .t4, .t5, .t5 {
    width: 70%;
  }
  /* footer */
  .footer__texto {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=estilos.css.map */