.containerError{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 5rem;
h1{
    margin-bottom: 2rem;
    font-size: 4rem;
}
p{
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}
}
