/* index */

.containerCarrusel {
  width: $anchoCarrousel/2;
  height: $altoCarrousel/2;
  margin-bottom: 10rem;
}

.carrusel {
  width: 100%;
}

/* seccion principal */

.seccionunoindex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.seccionunoindex__titulo {
  font-size: 4.8rem;
  color: black;
  padding: 2rem;
}

.seccionunoindex__container{
  background-color: wheat;
  border-radius: 2rem;
  border: solid 4px black;
  width:100rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.seccionunoindex__container__texto {
  font-size: 2.4rem;
  text-align: center;
  padding: 2rem 1.5rem;
}

/*.imagenPrincipalInicio {
    width: 40rem;
    height: 40rem;
    padding: 2rem;
  }*/

/* seccion 2 */

.secciondosindex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "uno dos tres";
  justify-items: center;
  align-items: center;
  padding: 4rem;

  h2 {
    font-size: 2.8rem;
    text-align: center;
    padding-bottom: 2.5rem;
  }
}

/* primera columna seccion 2 */

.secciondosindex__colunmnauno {
  grid-area: uno;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: white;
  margin: 2rem;
  height: 100%;
}

.secciondosindex__colunmnauno__imagen {
  width: $imagenesIndex;
  text-align: center;
}

/* segunda columna seccion 2 */

.secciondosindex__colunmnados {
  grid-area: dos;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: white;
  margin: 2rem;
  height: 100%;

  h2 {
    padding-bottom: 6rem;
  }
}

.secciondosindex__colunmnados__imagen {
  width: $imagenesIndex;
}

/* tercera columna seccion 2 */

.secciondosindex__colunmnatres {
  grid-area: tres;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: white;
  margin: 2rem;
  height: 100%;

  h2 {
    padding-bottom: 4rem;
  }
}

.secciondosindex__colunmnatres__imagen {
  width: $imagenesIndex;
}