/* index */

.containerCarrusel {
  width: $anchoCarrousel/2;
  height: $altoCarrousel/2;
  margin-bottom: 10rem;
}

.carrusel {
  width: 100%;
}

/* seccion principal */

.seccionunoindex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top:2rem;
}

.seccionunoindex__titulo {
  font-size: 4.8rem;
  color: black;
  padding: 2rem;
}

.seccionunoindex__container{
  background-color: wheat;
  border-radius: 2rem;
  border: solid 0.4rem black;
  width:100rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.seccionunoindex__container__texto {
  font-size: 2.4rem;
  text-align: center;
  padding: 2rem 1.5rem;
}

/*.imagenPrincipalInicio {
    width: 40rem;
    height: 40rem;
    padding: 2rem;
  }*/

/* seccion 2 */

.seccionDosIndex {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "uno dos tres";
  justify-items: center;
  align-items: center;
  margin: 3rem;
}

/* cards*/

.contenedor{
  width: 100%;
  display: flex;
  max-width: 110rem;
}

.card{
  width: 100%;
  margin: 2rem;
  border-radius: 0.6rem;
  overflow:hidden;
  background-color: rgb(229, 210, 229);
  box-shadow: 0rem 0.1rem 1rem rgba( 0,0,0,0.2);
  cursor:default;
  transition: all 400ms ease;

  &:hover{
    box-shadow: 0.5rem 0.5rem 2rem rgba( 0,0,0,0.4);
    transform: translateY(-3%)
  }
  
  img{
    width: 100%;
   
  }

 .contenido{
   padding: 1.5rem;
   text-align: center;
   background-color: #fff;

   p{
    
     font-size: 1.4rem;
   }
   h3{
     margin-top: 1rem;
     margin-bottom: 1.5rem;
     font-size: 2.4rem;
   }
   a{
     background-color: black;
     border:0.1rem solid grey;
     font-size: 1.2rem;
     display: inline-block;
     margin-top: 1rem;
     padding:1rem;
     transition: all 400ms ease;
     border-radius: 0.6rem;
   }
  }

}

.imagenesIndex{
  padding: 2rem;
  
}

/* primera columna seccion 2 */

.secciondosindex__colunmnauno {
  grid-area: uno;
  padding: 1rem;
  margin: 2rem;
  height: 100%;
}

/* segunda columna seccion 2 */

.secciondosindex__colunmnados {
  grid-area: dos;
  padding: 1rem;
  margin: 2rem;
  height: 100%;
}

/* tercera columna seccion 2 */

.secciondosindex__colunmnatres {
  grid-area: tres;
  padding: 1rem;
  margin: 2rem;
  height: 100%;
}

