@media (max-width: 768px) {
  .listaNavegador {
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: calc(100% - 10rem);
    background-color: #FBF1EE;
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
  }

  .listaNavegador li {
    margin: 5rem 0 0 0;
    line-height: 3rem;

    &:hover {
      background-color: none;
    }
  }

  .listaNavegador li a {
    font-size: 2rem;
    color: #454D5E;
  }

  .btn_menu {
    display: inline-flex;
  }

  .seccionunoindex__container {
    width: 50rem;
    margin-top: 5rem;
  }

  /* index*/


  .seccionDosIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "uno""dos""tres";
    justify-items: center;
    align-items: center;
    padding: 2rem;
  }

  .secciondosindex__colunmnauno {
    grid-area: uno;
    padding: 1rem;
    margin: 2rem;
    margin-bottom: 6rem;
    width: 80%;
  }

  .secciondosindex__colunmnados {
    grid-area: dos;
    padding: 1rem;
    margin: 2rem;
    margin-bottom: 6rem;
    width: 80%;
  }



  .secciondosindex__colunmnatres {
    grid-area: tres;
    padding: 1rem;
    margin: 2rem;
    width: 80%;
  }

  footer p {
    font-size: 1.6rem;

  }

  /* Nosotros html */

  .seccionnos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "foto""texto";
  }

  .seccionnos__imagennosotros {
    margin-bottom: 5rem;
  }

  .seccionnos__container__titulonosotros {
    font-size: 4rem;
  }

  .seccionnos__container__textonosotros {
    font-size: 1.6rem;
  }

  /*Contactanos*/

  .formulario {
    width: 50rem;
  }

  .tituloPrincipalContactanos {
    font-size: 2.4rem;
  }

  /*Medios de pago*/


  .seccionprincipalmedios {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "c1""c2""c3"

  }

  .seccionprincipalmedios__carduno {
    width: 70%;
  }

  .tituloMedios {
    font-size: 3rem;
  }

  /* tienda */
  .tienda {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a b ""c d ""e f";
  }

  .footer__texto {
    font-size: 1.3rem;
  }

}

@media (max-width: 600px) {
  nav ul a {
    font-size: 1.4rem;

  }



  .tituloPrincipalInicio {
    font-size: 3rem;
    color: black;
    padding: 2rem;
  }

  .textoPrincipal {
    font-size: 1.8rem;
    text-align: center;
  }

  .imagenPrincipalInicio {
    width: 30rem;
    height: 20rem;
    padding: 2rem;
  }

  .seccionDosIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "uno""dos""tres";
    justify-items: center;
    align-items: center;
    padding: 2rem;

    h2 {
      font-size: 2rem;
      text-align: center;
      padding-bottom: 2.5rem;
    }
  }

  .secciondosindex__colunmnauno {
    grid-area: uno;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 100%;
  }



  .secciondosindex__colunmnados {
    grid-area: dos;
    padding: 1rem;
    width: 100%;
  }



  .secciondosindex__colunmnatres {
    grid-area: tres;
    padding: 1rem;
    width: 100%;
  }

  /*Nosotros */

  .seccionnos__imagennosotros {
    margin-bottom: 5rem;
  }

  .seccionnos__container__titulonosotros {
    font-size: 4rem;
  }

  .seccionnos__container {
    font-size: 1.6rem;
  }

  /*Contactanos*/
  .formulario {
    width: 40rem;
  }

  .tituloPrincipalContactanos {
    font-size: 2rem;
  }

  /*Medios de pago*/
  .seccionprincipalmedios {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "c1""c2""c3"
  }

  .tituloMedios {
    font-size: 2.8rem;
  }

  .seccionprincipalmedios__carduno {
    width: 60%;
  }

  /* tienda */
  .tienda {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a""b""c""d""e""f";
  }

  .t1,
  .t2,
  .t3,
  .t4,
  .t5,
  .t5 {
    width: 70%;
  }

  /* footer */

  .footer__texto {
    font-size: 1rem;
  }
}