@media (max-width: 768px) {
  nav ul {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  header nav {
    width: 70%;
  }

  .seccionDosIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "uno dos""tres tres";
    grid-column-gap: 1fr;
    grid-row-gap: 1fr;
    justify-items: center;
    align-items: center;
    padding: 4rem;

    h2 {
      font-size: 1.8rem;
      text-align: center;
      padding-bottom: 2.5rem;
    }
  }

  /* primera columna seccion 2 */

  .primeraColunmaSeccionDosIndex {
    grid-area: uno;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: white;
    margin: 2rem;
    margin-bottom: 6rem;
  }

  .imagenHistoria {
    width: 18rem;
    text-align: center;
  }

  .segundaColunmaSeccionDosIndex {
    grid-area: dos;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: white;
    margin: 2rem;
    margin-bottom: 6rem;
  }

  .tarjeta {
    width: 18rem;
    text-align: center;
  }

  .terceraColunmaSeccionDosIndex {
    grid-area: tres;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: white;
    margin: 2rem;
  }

  .telefono {
    width: 18rem;
    text-align: center;
  }

  .footer {
    background-color: lightblue;
    display: flex;
    height: 7rem;
  }

  footer {
    ul {
      width: 70%;
    }

    p {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 600px) {
  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
      font-size: 1.4rem;
    }
  }

  header nav {
    width: 70%;
  }

  .tituloPrincipalInicio {
    font-size: 3rem;
    color: black;
    padding: 2rem;
  }

  .textoPrincipal {
    font-size: 1.8rem;
    text-align: center;
  }

  .imagenPrincipalInicio {
    width: 30rem;
    height: 20rem;
    padding: 2rem;
  }

  .seccionDosIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "uno""dos""tres";
    justify-items: center;
    align-items: center;
    padding: 2rem;

    h2 {
      font-size: 2rem;
      text-align: center;
      padding-bottom: 2.5rem;
    }
  }

  /* primera columna seccion 2 */

  .primeraColunmaSeccionDosIndex {
    grid-area: uno;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: white;
    padding-bottom: 2rem;
    width: 100%;
  }

  .imagenHistoria {
    width: 14rem;
    text-align: center;
  }

  .segundaColunmaSeccionDosIndex {
    grid-area: dos;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: white;
    width: 100%;
  }

  .tarjeta {
    width: 14rem;
    text-align: center;
  }

  .terceraColunmaSeccionDosIndex {
    grid-area: tres;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: white;
    width: 100%;

    h2 {
      padding-bottom: 5rem;
    }
  }

  .telefono {
    width: 14rem;
    text-align: center;
  }

  .footer {
    background-color: lightblue;
    display: flex;
    height: 7rem;
  }

  footer {
    ul {
      width: 70%;
    }

    p {
      font-size: 1.4rem;
    }
  }
}