/* Nosotros html */

.seccionnos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "foto texto";
  justify-items: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.seccionnos__container {
  background-color: wheat;
  grid-area: texto;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 4rem;
  border: solid 0.4rem black;
  border-radius: 3rem;

  .seccionnos__container__titulonosotros {
   text-align: center;
    padding-bottom: 1rem;
    font-size: 4.8rem;
  }

  .seccionnos__container__textonosotros {
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    padding: 2.0rem;
  }
}

.seccionnos__imagennosotros {
  grid-area: foto;
  width: 40rem;
  height: 40rem;
}

.tituloNosotros {
  font-size: 3.2rem;
}

.textoNosotros {
  font-size: 1.6rem;
}