/* tienda html */
.tituloTienda {
  font-size: 4.8rem;
  text-align: center;
  padding-top: 10rem;
  margin-bottom: 10rem;
}

.tienda__container__titulosTienda {
  font-size: 4rem;
  padding-bottom: 1.5rem;
}

.tienda {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b c""d e f";
  justify-items: center;
  align-items: center;
  margin: 3rem;
}

.t1 {
  grid-area: a;
  height: 100%;
  padding: 1rem;
  margin: 2rem;
}

.t2 {
  @extend .t1;
  grid-area: b;
}

.t3 {
  @extend .t1;
  grid-area: c;
}

.t4 {
  @extend .t1;
  grid-area: d;
}

.t5 {
  @extend .t1;
  grid-area: e;
}
.t6 {
  @extend .t1;
  grid-area: f;
}


